*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main-page {
    display: block;
    margin: 5px auto;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(/book_Store_App/image/bg.png);
    background-size: cover;
    background-position: center;
}

section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px green;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul {
    list-style: none;
}

section nav li {
    display: inline-block;
    padding: 0 12px;
}

section nav li a {
    text-decoration: none;
    color: black;
}

section nav li a:hover {
    color: green;
}

section nav .social-icon i{
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
}

section nav .social-icon i:hover {
    color: green;
}

section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 12%

}

section .main h1 {
    position: relative;
    top: 45px;
    left: 25px;
    font-size: 55px;

}

section .main h1 span{
    color: aquamarine;
}

section .main p {
    width: 500px;
    text-align: justify;
    line-height: 20px;
    position: relative;
    top: 80px;
    left: 25px;
}

section .main .main-tag .main-btn {
    background: green;
    padding: 10px 20px;
    position: relative;
    top: 120px;
    left: 25px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

section .main .main_img img {
    width: 700px;
    position: relative;
    top: 150px;
    left: 20px;
}



/* Services */

.services {
    width: 100%;
    height: auto;
    margin: 35px 0;
}

.services .services-box {
    width: 95%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.services .services-box .services-card {
    text-align: center;
    width: 20%;
    height: auto;
    border: 1px solid;
    padding: 10px 15px;

}



/* Books */

.featured-books {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
}

.featured-books h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}

.featured-books .featured-book-box {
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;

}

.featured-books .featured-book-box .featured-book-card {
    width: 200px;
    height: 400px;
    text-align: center;
    padding: 4px;
    border: 1px solid gray;
    margin: auto 15px;
}

.featured-books .featured-book-box .featured-book-card img {
    width: 150px;
    height: 230px;

}

.featured-books .featured-book-box .featured-book-card .featured-book-tag h2 {
    margin: 6px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .writer {
    color: gray;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .categories {
    color: #089da1;
    margin-top: 6px;

}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .book-price {
    margin-top: 6px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FF8787;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .book-price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .f_btn {
    padding: 6px 20px;
    border: 1px solid green;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    font-weight: bold;

}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .f_btn:hover {
    background-color: #089da1;
    color: #FF8787;
}

::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}



/* Arrivals */

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0px auto;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    overflow-x: scroll;
    grid-gap: 25px 0;

}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 2px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 220px;
    height: 260px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-weight: 800;
    font-size: 15px;
    margin: 3px 0;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .writer{
    color: gray;
    margin: 5px auto;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .f_btn{
    padding: 5px 15px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}
